@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
 font: 20px/1 "Roboto" sans-serif;
}

a {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: .1rem 0.1rem;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}

ul{
    list-style: none;
}
main > article {
    flex: 1 1 17rem;
}

.container {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    padding: 5rem;
}        

.main-header {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    position: absolute;
    width: 100%;
}

.main-header__title {
     color: rgb(0, 0, 0);
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 0.5rem;
}

.nav__list-item:last-child {
    margin-right: 0;
}

.hero-image {
    align-items: center;
    color: rgb(0, 0, 0);
    background-image: url(http://lorempixel.com/output/abstract-q-c-1400-600-3.jpg);
    background-position: 50% 60%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: aqua;
}

.hero-image__title {
    font-size: 3rem;

}    

.screenshot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem;
    max-width: 100%;
}

img {
    max-width: 80%;
    margin-bottom: 1.5rem;
    border: none;
}

.wrapper {
    background-color: hsl(101, 100%, 50%);

}

footer {
    color: red;
    background-color: black;
    height: 5vh;
    
}

figure {
    margin: 0 auto;
    width: 30 rem;
}

article {
    margin-bottom: 5rem;
}
