@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
 font: 20px/1 "Roboto" sans-serif;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    color: rgb(204, 1, 1);
}

ul{
    list-style: none;
}

.main-header {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
}

.main-header__title {
     color: rgb(0, 0, 0);
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 0.5rem;
}

.nav__list-item:last-child {
    margin-right: 0;
}
.main-topic {
    color: rgb(0, 0, 0);
    background-image: url(http://lorempixel.com/output/abstract-q-c-1400-600-3.jpg);
    background-position: 50% 60%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    margin-bottom: 2rem;
    
}
.main-topic__title {
    font-size: 3rem;


}